<% provide :title, "Faculty Edit" %>
<div class="form">
  <h1>Faculty Edit</h1>
  <%= form_for @user, url: { :action => 'update' } do |f| %>
  	<%= f.label :first_name %>
  	<%= f.text_field :first_name, value: @user.first_name %><br>

    <%= f.label :last_name %>
    <%= f.text_field :last_name, value: @user.last_name %><br>

    <%= f.label :email %>
    <%= f.text_field :email, value: @user.email %><br>

    <%= f.label :password %>
    <%= f.password_field :password %><br>

    <%= f.label :password_confirmation %>
    <%= f.password_field :password_confirmation %><br> 

    <%= f.submit "Edit Profile" %>
  <% end %>
  <% if @user.errors.any? %>
    <ul class="form_errors">
    <% for message_error in @user.errors.full_messages %>
      <li> <%= message_error %></li>
    <% end %>
    </ul>
  <% end %>
</div>