<% provide :title, "Faculty Signup" %>
<div class="form">
  <h1>Faculty Sign Up</h1>
  <%= form_for :new_user, :url => { :controller => 'users', :action => 'create' } do |f| %>
  	<%= f.label :first_name %>
  	<p><%= f.text_field :first_name %></p>

    <%= f.label :last_name %> 
    <p><%= f.text_field :last_name %></p>

    <%= f.label :email %> 
    <p><%= f.text_field :email %></p>

    <%= f.label :password %>
    <p><%= f.password_field :password %></p>

    <%= f.label :password_confirmation %> 
    <p><%= f.password_field :password_confirmation %></p>

    <%= f.label "Faculty?" %> 
    <%= f.check_box :position %>

    <p><%= f.submit "Register Researcher" %></p>
  <% end %>
  <% if @new_user.errors.any? %>
    <ul class="form_errors">
    <% for message_error in @new_user.errors.full_messages %>
      <li> <%= message_error %></li>
    <% end %>
    </ul>
  <% end %>
</div>