<h1><%= @user.full_name %>'s <%= @user.position.title.capitalize %> Profile</h1>

<hr>

<% if is_faculty?%>
	<% @projects.each do |project| %>
		<%= link_to "#{ project.name }", project_path %>
	<% end %>

	<hr>
	<%= link_to "Add Researcher", new_user_path %> | <%= link_to "Edit Profile", edit_user_path %>
<% end %>


