<p class="title"><%= @project.name %></p>
<p>Author: <%= link_to @project.creator.full_name, user_path(@project.creator) %><p>
<p>Hypothesis: <%= @project.hypothesis %></p>
<p>Summary: <%= @project.summary %></p>

<p class="titlesmall">Comments</p>

<% @project.comments.each do |comment| %>
  <p class="commentbody"><%= comment.content %>
    <span class="fineprint">--<%= link_to comment.commenter.full_name, user_path(comment.commenter) %>
    <%= comment.created_at.strftime(", %A, %d %b %Y %l:%M %p") %></span>
  </p>
<% end %>

<%= form_tag("comment/new", id: "comment_button", method: "get") do %>
  <%= submit_tag("Add a comment") %>
<% end %>

<p class="titlesmall">Experiments</p>

<% @project.experiments.each do |experiment| %>
  <div class="listing">
    <p><%= link_to experiment.name, project_experiment_path(@project, experiment) %></p>
    <p class="fineprint"><%= experiment.created_at.strftime("Posted on %A, %d %b %Y %l:%M %p") %>
      by <%= link_to experiment.experimenter.full_name, user_path(experiment.experimenter) %>
    </p>
  </div>
<% end %>

<%= form_tag("experiment/new", id: "experiment_button", method: "get") do %>
  <%= submit_tag("Add an Experiment") %>
<% end %>
