<p class="title">Procedures</p>

<% @experiment.procedures.each do |procedure| %>
  <p><%= procedure.instructions %><p>

  <p class="titlesmall">Observations</p>

  <% procedure.observations.each do |observation| %>
    <p class="commentbody"><%= observation.content %></p>
    <% observation.comments.each do |comment| %>
      <p class="commentobservation"><%= comment.content %>
        <span class="fineprint">--<%= link_to comment.commenter.full_name, user_path(comment.commenter) %>
        <%= comment.created_at.strftime(", %A, %d %b %Y %l:%M %p") %></span>
      </p>
    <% end %>
  <% end %>
<% end %>

<%= render "comment_button" %>
