<div class="tabs">
  <ul>
    <li id="conclusions"><a href="conclusions.html">Conclusions</a></li>
    <li id="results"><a href="results.html">Results</a></li>
    <li id="observations" class="active"><a href="observations.html">Observations</a></li>
    <li id="procedures"><a href="procedures.html">Procedures</a></li>
    <li id="summary"><a href="show.html">Summary</a></li>
  </ul>
</div>

<p class="title"><%= @experiment.name %></p>
<div id="experiment_content">
  <p class="title">Observations</p>
  <% @experiment.observations.each do |observation| %>
    <p><%= observation.content %></p>
    <% observation.comments.each do |comment| %>
      <p class="commentbody"><%= comment.content %>
        <span class="fineprint">--<%= link_to comment.commenter.full_name, user_path(comment.commenter) %>
        <%= comment.created_at.strftime(", %A, %d %b %Y %l:%M %p") %></span>
      </p>
    <% end %>
  <% end %>
</div>
